<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}Flickr Tickler</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/photos.js" type="text/javascript" charset="utf-8"></script>
</head>
<body id="{{ body_id }}">
  <div id="page">
    <div id="header">
      <h2><a href="/"><img src="/images/flickr-tickler.png" alt="Flickr Tickler"/></a></h2>
    </div>
    {% block content %}
    {% endblock %}    
  </div>
</body>
</html>