<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}Flickr Tickler</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/photos.js" type="text/javascript" charset="utf-8"></script>
</head>
<body id="{{ body_id }}">
  <div id="page">
    <div id="header">
      <h2><a href="/"><img src="/images/flickr-tickler.png" alt="Flickr Tickler"/></a></h2>
    </div>
    {% block content %}
    {% endblock %}
  <div id="footer">
    another web toy from <a href="http://metaatem.net/" title="Meta | ateM">Erik Kastner</a>. Feedback: <a href="mailto:&#x6B;&#x61;&#x73;&#x74;&#x6E;&#x65;&#x72;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">kastner@gmail.com</a>
  </div>
  </div>
</body>
</html>