{% extends "base.html" %}
{% block content %}

<p>
  The Flickr Tickler is a unique way to view flickr pictures quickly and smoothly.
  Stay tuned for more great stuff!
</p>

<p>
  You can search for pictures one of three ways:
</p>

<form action="/tickle" method="get">
  <div>
    <label for="tags">Words:</label>
    <input type="text" name="tags" id="tags"/>
    <input type="submit" value="Search Photos"/>
  </div>
</form>

<form action="/tickle" method="get">
  <div>
    <label for="user">Flickr User:</label>
    <input type="text" name="user" id="user"/>
    <input type="submit" value="Load Person's Photos"/>
  </div>
</form>

<form action="/tickle" method="get">
  <div>
    <label for="group">Flickr Group:</label>
    <input type="text" name="group" id="group"/>
    <input type="submit" value="Load Group's Photos"/>
  </div>
</form>

{% endblock %}