{% extends "base.html" %}
{% block content %}
<div id="bob"></div>
{% for photo in photos %}
<div id="photo-{{ forloop.counter }}" class="photo photo-{{ photo.id }}">
  <a href="http://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}" target="_blank">{{ photo.title }}</a><br/>
  <a href="http://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}" title="{{ photo.title }}">
    <img src="http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}.jpg" alt="{{ photo.title }}"/>
  </a>
</div>
{% endfor %}
<a id="prev-link" href="?page={{ prev_page }}">Prev</a>
<a id="next-link" href="?page={{ next_page }}">Next</a>


<script type="text/javascript" charset="utf-8">
  var currentPhotoNum = 1;
  var maxPhotoNum = {{ photos|length }};
  
  function getPhoto(num) {
    return $("photo-" + num);
  }
  
  function currentPhoto() {
    return getPhoto(currentPhotoNum);
  }
  
  function nextDivNum() {
    for(i = 1; i <= maxPhotoNum; i++) {
      if (getPhoto(i).viewportOffset().top > 0) { break; }
    }
    
    return i;
  }
  
  function prevDivNum() {
    nextNum = nextDivNum();
    return (nextNum > 2) ? nextNum - 2 : 1;
  }
  
  function nextElement() {
    currentPhotoNum = nextDivNum();
    return currentPhoto();
  }
  
  function prevElement() {
    currentPhotoNum = prevDivNum();
    return currentPhoto();
  }
  
  Event.observe(window, 'keyup', function(event) {
    switch(event.keyCode) {
      case 74: // "J"
        nextElement().scrollTo(); break;
      case 75: // "K"
        prevElement().scrollTo(); break;
    }
  });
</script>
{% endblock %}
