html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
/*:focus {
  outline: 0;
}
*/
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  font: medium/1.5em Georgia, serif;
  background: #311814 url('/images/background.jpg') no-repeat top center;
  color: #bbb;
  text-align: center;
}

p { margin-bottom: 1.5em; }
a { color: #DFAB2B; }
fieldset { margin-bottom: 1.5em; }

#header h2 a img {
  height: 7.250em; /* 116.0px at 16px base */
}

#page {
  width: 43.750em; /* 700.0px at 16px base */
  margin: 0 auto;
  text-align: left;
}

#instructions {
  text-align: center;
  font-size: 150%;
/*  width: 37.500em; /* 600.0px at 16px base */*/
  width: 25.000em; /* 600.0px at 24px base */
  margin: 0 auto;
  padding: 1em;
  border-top: 1px solid #DFAB2B;
  border-bottom: 1px solid #DFAB2B;
  margin-bottom: 2em;
}

#instructions span {
  font-size: 200%;
  font-weight: bold;
  font-family: Helvetica, arial, sans-serif;
  font-style: italic;
}

form {
  margin-bottom: 1.75em;
  font-size: 140%;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input {
  font-size: 1em;
}

form input[type='text'] {
  background: #38250F;
  background: #bbb;
  color: black;
  border: 1px solid #ccc;
}

#photos {
  text-align: center;
}

.photo {
  margin-bottom: 8em;
}

.photo h2 {
  font-size: 150%;
  padding-top: 1em;
}

.photo p {
  padding-bottom: 0.5em;
}

.photo img {
/*  padding-top: 1em;*/
  border: none;
}

.photo h2 a:focus {
  outline: 1px solid #525252;
}

#fetch-more {
  font-size: 120%;
  display: block;
  text-align: center;
  margin-top: -5em;
  margin-bottom: 2em;
}